Google colab Notebook

In [99]:
"Hello AI Heroes. I'm Shahad Albalawi, hope you find this notebook helpful and enjoyable"

"Hello AI Heroes. I'm Shahad Albalawi, hope you find this notebook helpful and enjoyable"

In [140]:
# Note !
'Hi'
'enjoy!'

'enjoy!'

In [2]:
number = 14
number

14

In [3]:
print(number)

14

# Data Types

**Strings in Python**

In [4]:
var_str= "This is String"
print(type(var_str))

<class 'str'>

In [ ]:
# We can use both double and single quotation
str1="test with double quotes"
str2='test with single quotes'
type(str1)
type(str2)

In [6]:
# be aware that
str1 = "She asked "What are you doing?""

SyntaxError: ignored

In [101]:
str1 = 'she asked "What are you doing? "'
print(str1)

she asked "What are you doing? "

In [100]:
str1 =  "She asked \"What are you doing?\""
print(str1)

She asked "What are you doing?"

**split string**

In [102]:
my_str="AI_2023"
name, year = my_str.split("_")
print(name)
print(year)

AI
2023

**Slicing**

In [109]:
str1 = "This is test"
print(str1[::-1])

tset si sihT

In [122]:
print(str1[0:2:]) #start from 0 end with 1

Th

In [113]:
str2= 'pop'
is_palindrome = str2==str2[::-1]
print(is_palindrome)

True

In [138]:
s = "She said What are you doing?"

l = s.split(" ")
print(type(l))
l2 = l[::-1]
print(l2)
s2 = " ".join(l2)
print(s2)

<class 'list'>
['doing?', 'you', 'are', 'What', 'said', 'She']
doing? you are What said She

In [149]:
test = "gdocolde nlcukcuk"
result = test[::2]
print(result)  # 2 steps

good luck

**We can utilize of some functions of String class in python**

In [128]:
name="john doe"
print(name.title()) # Only the first letter of each word will be capitalized
print(name.upper())
print(name.lower())

John Doe
JOHN DOE
john doe

In [126]:
name = 'Python'
len(name)

6

In [10]:
print("This is a test" + "to check the + operation for strings")

This is a testto check the + operation for strings

In [20]:
#We use f-strings to add strings from string variables
str1="part 1"
str2="part 2"
str3="part 3"
cat_str=f"\t{str1}\t{str2}\t{str3}\n"
print(cat_str)
print(cat_str.rstrip()) #remove whitespace from right
print(cat_str.lstrip()) #remove whitespace from left
print(cat_str.strip()) #remove whitespaces
print("What does strip() do? : "+ str1.strip('part')) #using strip with certain value

	part 1	part 2	part 3

	part 1	part 2	part 3
part 1	part 2	part 3

part 1	part 2	part 3
What does strip() do? :  1

In [22]:
str1='test'
print(str1)
print('+'.join(str1))

test
t+e+s+t

In [106]:
my_list = ["Apple" , "a" , "day", "keeps","doctors","away"]
my_str = " ".join(my_list)
print(my_str)

Apple a day keeps doctors away

In [69]:
print(f"if the ascii values is between {ord('a')} and {ord('z')} the characater is a small letrter")
print(ord('a'))

if the ascii values is between 97 and 122 the characater is a small letrter
97

In [131]:
rep_str = "AI"
print(rep_str *3)

AIAIAI

In [155]:
my_str1 = 'Apple'
my_str2 = 'a'
'{} {} day keeps doctors away {:.6f}'.format(my_str1, my_str2, 1/3)

'Apple a day keeps doctors away 0.333333'

In [156]:
print('The {0} is {1} and {2}!'.format('fox', 'brown', 'quick'))

The fox is brown and quick!

**Integers**

In [23]:
x=4
y=2
print(x+y)#Addition
print(x-y)#substraction
print(x/y)#divison
#we can use // for integer division
print(x//y)#divison
print(x*y)#Multiplication
print(x**y) #exponential
print((x*y)*(x+y)/(x**y))

6
2
2.0
2
8
16
3.0

In [ ]:
x = 3
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"
x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"

**FLoat**

In [72]:
x=4
y=2.0
print(x*y) #Output will be in float
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.0 3.0 4.0 4.0"

8.0
<class 'float'>
2.0 3.0 4.0 4.0

In [25]:
#Interesting feature
x=10_1000
print(x)

101000

$$F = m*9.8 $$

In [71]:
m = 56
f= m *9.8
print(f)

548.8000000000001

**Boolean**

In [73]:
t = True
f = False
print(type(t)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

In [77]:
a = 3
b = 5
c = 7
print(a == a)     # Prints "True"
print(a != a)     # Prints "False"
print(a < b)      # Prints "True"
print(a <= a)     # Prints "True"
print(a <= b < c) # Prints "True"

v = a==a
print(type(v))

True
False
True
True
True
<class 'bool'>

In [75]:
a = 3
b = 5
c = 7
print((a <= b) and (b < c))

True

In [81]:
x = True
y = False

print(x | y)
print(x & y)

True
False

# Basic Containers

![String_example.png]()

**Strings are a collection of characters**

In [48]:
str1='test'
str1[0]
str1[1]
str1[3]
str1[4] #Will produce an error
str1[1]='b'#Will produce an error

IndexError: ignored

In [32]:
str1='test'
str1[0]

't'

**Lists**

Lists are the most versatile datatype in Python . A list is defined by comma separating itâ€™s
elements within square brackets. *Elements of a list do not need to be of the same datatype*.

In [33]:
my_list=[1,2,3,'a','dog',4.5]
my_list

[1, 2, 3, 'a', 'dog', 4.5]

In [35]:
#in lists we can delete, modify elements after definition
my_list=[1,2,3,'a','dog',4.5]
my_list[4]='cat' #modify
print("Before deleting the first element \n"+my_list[3])
print(my_list)
del my_list[1] #delete
print("\nBefore deleting the first element \n"+ my_list[3])
print(my_list)

Before deleting the first element
a
[1, 2, 3, 'a', 'cat', 4.5]

Before deleting the first element
cat
[1, 3, 'a', 'cat', 4.5]

In [159]:
lst1=[1,2,3]
lst2=['a','b','c']
lst_cat=lst1+lst2
print("Lists Concatenation: ", lst_cat)
lst_rep=lst1*6
print("List 1 repeated 6 times: ", lst_rep)
#to check if an element is a member of a list
#we can do x in list, it will return true or false value
print("is number 3 an element of list 1? ", 3 in lst1) #boolean expression

#lists are iteratable objects
for x in lst1:
  print(x)
lst1.append(4)
print(lst1)
print("How many times the element 3 appears in list 1? ",lst1.count(3))

Lists Concatenation:  [1, 2, 3, 'a', 'b', 'c']
List 1 repeated 6 times:  [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
is number 3 an element of list 1?  True
1
2
3
[1, 2, 3, 4]
How many times the element 3 appears in list 1?  1

In [103]:
my_str="AI_2023"
lis1 = my_str.split("_")
print(lis1)

['AI', '2023']

In [130]:
name = "computer scince"
parts = name.title().split(" ")
print(parts)

['Computer', 'Scince']

In [157]:
x = [0,1,2,3,4,5,6,7,8,9]
y = [element**2 for element in x if element%2 ==0 ]
print(y)

[0, 4, 16, 36, 64]

In [160]:
x = ["AI", "2023"]
y = x.copy()
y.append("xyz")
print(x,y)

['AI', '2023'] ['AI', '2023', 'xyz']

In [161]:
x.extend(y) #append the list y to x
print(x)

['AI', '2023', 'AI', '2023', 'xyz']

In [162]:
print(x)
x.sort()
print(x)

['AI', '2023', 'AI', '2023', 'xyz']
['2023', '2023', 'AI', 'AI', 'xyz']

**Tuples**

Tuple structure is similar to lists with the
exception that tuples can not be modified. Tuples can be defined by separating itâ€™s elements
by comma, inside parenthesis.

In [46]:
my_tuple=(1,2,3,'a','dog',4.5)
my_tuple[0]
my_tuple[3]=1 #will produce an error, we can't modify tuples

TypeError: ignored

In [51]:
tup1=(1,2,3)
tup2=('a','b','c')
tup_cat = tup1+tup2
tup_rep=tup1*4
del(tup_cat)
print(tup_cat) # will produce an error
len(tup_rep)
#to check if an element is a member of a tuple
#we can do x in tuple, it will return true or false value
print(3 in tup1)
#lists are iteratable objects
for x in tup1:
  print(x)

NameError: ignored

**Dictionary**

Dictonary object in Python is a collection of elements, where each element has a key and
a value. The key is used to access the value. A simple way to understand the concept of
dictionaries is to think about real dictionaries, where we can look up the meaning of words.
In Python keys correspond to words and the values correspond to meaning of the words.
Similar to a dictionary one key can only have one value (like one word has one meaning*).
Dictionary are defined with curly brackets.

In [52]:
my_dict={'key1':'some value'}
my_dict['key2']='test1' #Add new pair
my_dict['key3']='test2' #Add new pair
print(my_dict)

{'key1': 'some value', 'key2': 'test1', 'key3': 'test2'}

In [53]:
my_dict['key1']

'some value'

In [54]:
emp_dict = {'011':'Shahad', '012':'khalid', '013':'Lujain'}
emp_dict['013'] #Access to value by key

'Lujain'

In [61]:
my_dict={'first_name':'N', 'last_name':'K', 'age':'xy'}
print(my_dict)
my_dict['age']='yy' #Modify
print(my_dict['age'])
del(my_dict['age']) #delete pair
my_dict.clear() #Clear the dictionary, remove all keys and values
print(my_dict)
my_dict['name']='NK' #Add new element
del(my_dict) #Delete the dictionary, Be aware of the difference between del() and clear()
print(my_dict)

{'first_name': 'N', 'last_name': 'K', 'age': 'xy'}
yy
{}
{'name': 'NK'}

# Loops

**For Loops**

In [63]:
for i in range(10):
  print(i)  # it will be from 0 to 9

0
1
2
3
4
5
6
7
8
9

In [66]:
for i in range(1,11):
  print(i)  # it will be from 1 to 10

1
2
3
4
5
6
7
8
9
10

In [64]:
#Be aware !!
for i in range(5):
print("we are here") #it's an error!

IndentationError: ignored

In [65]:
for i in range(5):
  if i<4:
    print("I'm less than 4")

  else:
    print("I'm greater than 4")

I'm less than 4
I'm less than 4
I'm less than 4
I'm less than 4
I'm greater than 4

In [82]:
lst1=[1,2,3]
tup1=('a','b','c')
dict1={'fn':'N', 'ln':'K'}
for element in lst1:
  print(element)
for element in tup1:
  print(element)
for key in dict1:
  print(key , dict1[key])
for c,element in enumerate(lst1):
  print(element)
for c, element in enumerate(tup1):
  print(element)
for c, key in enumerate(dict1):
  print(c, key , dict1[key])

1
2
3
a
b
c
fn N
ln K
1
2
3
a
b
c
0 fn N
1 ln K

In [83]:
stu_name = ['Ahmad', 'Reem', 'Fatima']
for c,name in enumerate(stu_name):
  print(c,'\t', name)

0 	 Ahmad
1 	 Reem
2 	 Fatima

**While Loop**

In [84]:
x=10
while (x>1):
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2

In [ ]:
x=10
while (x>1):
  print(x)
  x=x+1 #infinite loop

**Else with loops**

In [86]:
for x in range(10):
  print(x)
else:
  print('exited for loop')
x=10
while (x>1):
  print(x)
  x=x-1
else:
  print('x is 1')

0
1
2
3
4
5
6
7
8
9
exited for loop
10
9
8
7
6
5
4
3
2
x is 1

In [141]:
x="This is test"

if (len(x)>15):
  print("you are over the limit of 15 characters")

else:
  print("you are fine")

you are fine

# Conversion

In [90]:
#to String

num = 1432
num_str = str(num)
print(num_str)

#to float
num =123
str_n = '12354'
num_f =float(str_n)
num_float = float(num)
print(num_f, num_float)

#to int
str_n = '12354'
num_ =int(str_n)

print(num_)

1432
12354.0 123.0
12354

# Exercises

In [88]:
#Write a program that asks the user to input, their name, age and occupation and outputs a string, "[name] is [age] years old and works as a [job]."
name = input("Enter your name: ")
age = input("Enter your age: ")
occupation = input("Enter your occupation: ")

# Create the output string
output_string = f"{name} is {age} years old and works as a {occupation}."

# Display the result
print(output_string)

Enter your name: Shahad
Enter your age: 22
Enter your occupation: Student
Shahad is 22 years old and works as a Student.

In [89]:
#Write a program that takes a positive integer as an input and returnâ€™s itâ€™s length. Return 0 if the number is not a positive integer.
num = 2456
# Check if the input is a positive integer
if num >=0:
    num_str = str(num)
    # Calculate and display the length
    length = len(str(num_str))
    print(f"The length of {num} is {length}.")
else:
    print("0")

The length of 2456 is 4.

In [94]:
#In a single line of code extract all numbers from a list that are greater than 100.

lis1 = [30, 55, 1004 , 112.5, 33.8, 500.4, 76, 8, 200]
lis2= [element for element in lis1 if element>100]
print(lis2)

[1004, 112.5, 500.4, 200]

In [97]:
#In a single line of code capitalize the first character of the value strings in a Python dictionary.
my_dict = {"01": "ahmad", "02": "khalid", "03": "lama"}
capitalized_dict = {key: my_dict[key].capitalize() for c, key in enumerate(my_dict)}
print(capitalized_dict)

{'01': 'Ahmad', '02': 'Khalid', '03': 'Lama'}